@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
.primary-button{
  padding: 5px 17px;
  color: white;
  background-color: #244d3f;
  border-radius: 6px;
}
.primary-text{
  color: #244d3f;
}
.secondary-text{
  color: #5c5c5c;
}
.secondary-text-white{
  color: #d8d8d8;
}