.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 0 4px;
  padding: 3px 12px;
  border-radius: 4px;
  color: #5c5c5c;
  transition: background-color 0.3s ease;
}
ul a.active {
  background-color: #244d3f;
  color: white;
}
